<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<connectionStrings>
		<add name="DB_VanPhongPhamConnectionString" connectionString="Data Source=.;Initial Catalog=DB_VanPhongPham;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
		<add name="DB_VanPhongPhamConnectionString1" connectionString="Data Source=.;Initial Catalog=DB_VanPhongPham;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
		<add name="DB_VanPhongPhamConnectionString2" connectionString="Data Source=.;Initial Catalog=DB_VanPhongPham;Integrated Security=True;Trust Server Certificate=True"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
